<div class="container">
  <div class="table-container" *ngIf="!selectedProduct.id">
    <h2>Productos</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Descripción</th>
          <th>Fecha de caducidad</th>
          <th>Fecha de fabricación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}€</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.fechas.caducidad }}</td>
          <td>{{ product.fechas.fabricacion }}</td>
          <td>
            <button class="edit-btn" (click)="editProduct(product)">
              Editar
            </button>
            <button class="delete-btn" (click)="deleteProduct(product.id!)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Panel de Formulario SIEMPRE visible -->
  <aside class="form-panel">
    <h3>{{ selectedProduct.id ? "Editar Producto" : "Nuevo Producto" }}</h3>

    <input
      type="text"
      [(ngModel)]="selectedProduct.name"
      placeholder="Nombre"
    />
    <input
      type="number"
      [(ngModel)]="selectedProduct.price"
      placeholder="Precio"
    />
    <input
      type="number"
      [(ngModel)]="selectedProduct.stock"
      placeholder="Stock"
    />
    <input
      type="text"
      [(ngModel)]="selectedProduct.description"
      placeholder="Descripción"
    />
    <input
      type="date"
      [(ngModel)]="selectedProduct.fechas.caducidad"
      placeholder="Fecha de caducidad"
    />
    <input
      type="date"
      [(ngModel)]="selectedProduct.fechas.fabricacion"
      placeholder="Fecha de fabricación"
    />

    <div class="button-group">
      <button class="save-btn" (click)="saveProduct()">
        {{ selectedProduct.id ? "Actualizar" : "Agregar" }}
      </button>
      <button class="cancel-btn" (click)="resetForm()">Cancelar</button>
    </div>
  </aside>
</div>
